# --- Python Environment ---
venv/
env/
.env
__pycache__/
*.py[cod]
*$py.class

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- Distribution / Build ---
build/
dist/
*.egg-info/

# --- Logs & Databases ---
*.log
db.sqlite3

# --- OS Specific ---
.DS_Store
Thumbs.db
